[user]
    email = xilemon3@gmail.com
    name = NieXi
[core]
    editor = gvim
    quotepath = false
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    br = branch
    cm = commit
    cma = commit --amend
    co = checkout
    st = status
    sa = stash apply
    sd = stash drop
    su = stash save -u
    sl = stash list
    ss = stash show
    sp = stash pop
    sc = stash clear
    rs = reset
    rsm = reset --soft 
    rhm = reset --hard
    df = diff
    mnf = merge --no-ff
[gui]
    encoding = utf-8
[i18n]
    commitencoding = utf-8
    logoutputencoding = utf-8
[i18n "commit"]
    encoding = utf-8
[winUpdater]
	recentlySeenVersion = 2.21.0.windows.1
[diff]
    tool = bc4
[difftool]
    prompt = false
[difftool "bc4"]
    cmd = "\"C:/Program Files/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = bc4
[mergetool]
    prompt = false
    keepBackup = false #禁用时用 mergetool 解决冲突时会产生 *.orig 的功能
[mergetool "bc4"]
    cmd = "\"C:/Program Files/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\""
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
