[user]
    email = xilemon3@gmail.com
    name = NieXi
[core]
    editor = gvim
    quotepath = false
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    br = branch
    cm = commit
    cma = commit --amend
    co = checkout
    st = status
    sa = stash apply
    sd = stash drop
    su = stash save -u
    sl = stash list
    ss = stash show
    sp = stash pop
    sc = stash clear
    rs = reset
    rsm = reset --soft 
    rhm = reset --hard
    df = diff
[gui]
    encoding = utf-8
[i18n]
    commitencoding = utf-8
    logoutputencoding = utf-8
[i18n "commit"]
    encoding = utf-8
[winUpdater]
	recentlySeenVersion = 2.19.1.windows.1
[diff]
    tool = bc
[difftool "bc"]
    path = C:/Program Files/Beyond Compare 4/BComp.exe
[merge]
    tool = bc
[mergetool "bc"]
    path = C:/Program Files/Beyond Compare 4/BComp.exe
